<div class="container centered">
  <h1> Alle ihre Produkte</h1>

  <%= link_to 'Produkt hinzufügen', new_user_product_path(current_user) %> |
  <%= link_to "Alle Produkte", user_products_path(current_user) %>



  <h1> Ihr aktueller Lagerbestand (dieser wird ihren Kunden zugesendet)</h1>
  <%= link_to "Aktueller Lagerbestand", user_stocks_path(current_user) %>

  <h1> Kundenliste </h1>
  <%= link_to 'Kundenliste', user_customers_path(current_user) %>
</div>
