<h1>Lagerbestand <%= DateTime.now.to_date %> </h1>

<p>
  <%= @greeting %>, <br />
Der Lagerbestand von <%= @user.email %> wurde aktualisiert. Das sind die aktuellen Produkte:  <br />
  <% @user.stock.products.each do |product|%>
    <%= product.name %> <br />
  <% end %>


</p>
