<p>Hallo <%= @resource.email %>!</p>

<p>
Sie haben eine Anfrage erstellt ihr Password zu ändern. Dies können sie tun, indem sie den folgenden Link anklicken.
</p>

<p><%= link_to 'Passwort ändern', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Falls sie diese Anfrage nicht erstellt haben, können sie diese Mail ignorieren.</p>
<p>Ihr Passwort wird nicht verändert, wenn sie den Link nicht anklicken.</p>
